html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0px auto;
    padding: 0px;
}

.title {
    text-align: center;
    padding: 10px;
    border: 2px solid black;
}

.row {
    text-align: center;
    margin: 0 auto;
}

.container-fluid {
    margin: 0 auto;
}

.pokemon-wrapper {
    cursor: pointer;
    margin: 10px;
    border: 1px solid black;
    transition: 300ms;
}
.pokemon-wrapper:hover {
    background-color: darkkhaki;
}

.pokemon-wrapper p {
    flex-direction: column;
    font-size: 18px;
}

table {
    margin: 0 auto;
}

table, td,th ,tr {
    border: 1px solid black
}

.single-pokemon-container {
    position: fixed;
    top: 20%;
    left: 35%;
}
.item-type {
 display: flex;
}

span {
    margin: 2px 0;
    border-radius: 4px;
    padding: 0 15px;
}

span.normal {
    background-color: #A8A878;
    border: 1px solid #6D6D4E;
}

span.fairy {
    background-color: #F6B4B4;
    border: 1px solid #6D6D4E;
}

span.fire {
    background-color: #F08030;
    border: 1px solid #9C531F;
}

span.water {
    background-color: #6890F0;
    border: 1px solid #445E9C;
}

span.electric {
    background-color: #F8D030;
    border: 1px solid #A1871F;
}

span.grass {
    background-color: #78C850;
    border: 1px solid #4E8234;
}

span.ice {
    background-color: #98D8D8;
    border: 1px solid #638D8D;
}

span.ground {
    background-color: #E0C068;
    border: 1px solid #927D44;
}

span.flying {
    background-color: #A890F0;
    border: 1px solid #6D5E9C;
}

span.ghost {
    background-color: #705898;
    border: 1px solid #493963;
}

span.rock {
    background-color: #B8A038;
    border: 1px solid #786824;
}

span.fighting {
    background-color: #C03028;
    border: 1px solid #7D1F1A;
}

span.poison {
    background-color: #A040A0;
    border: 1px solid #682A68;
}

span.psychic {
    background-color: #F85888;
    border: 1px solid #A13959;
}

span.bug {
    background-color: #A8B820;
    border: 1px solid #6D7815;
}

span.dark {
    background-color: #705848;
    border: 1px solid #49392F;
}

span.steel {
    background-color: #B8B8D0;
    border: 1px solid #787887;
}

span.dragon {
    background-color: #7038F8;
    border: 1px solid #4924A1;
}
@media screen and (min-width: 1200px) {
    #button {
        margin-left: 23px;
    }
}

@media screen and (max-width: 768px) {
    #button {
        margin-left: -10px;
    }
}

@media screen and (max-width: 414px){
    .single-pokemon-container {
        margin-top: 20%;
        position: absolute;
        top: 60%;
        left: 0%;   
    }
    #button {
        margin-left: 10px;
    }
}
